# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BlogArticle.Solution.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\allen\RiderProjects\BlogArticle.Solution\.idea\.idea.BlogArticle.Solution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
